#connected {
  color:red;
  background:red;
  border-radius:50%;
  animation:op 3s ease infinite;
}
@keyframes op{
0%{
  opacity:0;
}
50%{
  opacity:1;
}
100%{
  opacity:0;
}
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    /*position:relative;*/
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#explore-commons {
  position: relative;
  /*left: 0%;*/
  bottom: 2vh;

}

.button:hover {
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  /*cursor: pointer;*/
  outline: none;
}

.shadow {
  background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.is-horizontal-center {
  justify-content: center;
}

#take-button {
  color: white;
}

#return-to-commons {
  position: fixed;
  bottom: 5vh;
  width: 90%;
  z-index: 100;
}

.return-items {
  margin-bottom: 20px;
}